aside.menu
    .menu__close-wrap
        .menu__close-icon
    nav.menu__nav
        ul.menu__list
            li.menu__link.menu__link_active
                a(href="./index.html") Home
            li.menu__link
                a(href="./content.html") Content