mixin gallery__item(src)
    .gallery__item
        h2.gallery__item-title Winter Baikal
        .gallery__item-photo
            img(src=src alt="photo")
        .gallery__item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid architecto assumenda dolores eveniet enim optio totam ea in eius rem pariatur doloribus necessitatibus, deleniti nostrum obcaecati, voluptatum quisquam, quia nihil.

.gallery
    +gallery__item("../../img/1.jpg")
    +gallery__item("../../img/2.jpg")
    +gallery__item("../../img/3.jpg")
    +gallery__item("../../img/4.jpg")
    +gallery__item("../../img/5.jpg")
    +gallery__item("../../img/6.jpg")
    +gallery__item("../../img/7.jpg")
    +gallery__item("../../img/8.jpg")
    +gallery__item("../../img/9.jpg")
    +gallery__item("../../img/10.jpg")
    +gallery__item("../../img/11.jpg")
    +gallery__item("../../img/12.jpg")
    +gallery__item("../../img/13.jpg")
    +gallery__item("../../img/14.jpg")
    +gallery__item("../../img/15.jpg")
    +gallery__item("../../img/16.jpg")